[Unit]
Description=RFID Scanner
After=network.target sound.target

[Service]
User=elmabox
ExecStart=/usr/local/bin/rfidscanner
EnvironmentFile=/etc/rfidscanner.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
